/* Contacta conmigo */

@import url(./var_root.css);

/* Contacta conmigo */

.text {
    font-family: "Nunito", sans-serif;
    font-size: var(--font-size-12p);
    color: var(--fondo);
}

.gmail-img,
.phone-img,
.github-img,
.linkedin-img {
    display: block;
    width: 100px;
    height: 100px;
    padding: var(--space-sm);
    margin: auto;
}

.icono-content img:hover {
    cursor: pointer;
    /* Cambia il cursore a una mano*/
}