/* Contacta conmigo */

@import url(./var_root.css);

/* Contacta conmigo 

.icono-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    gap: 30px;
    padding: auto;
    margin: auto;
    margin-top: var(--space-m);
    position: relative;
}

.icono-content>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.icono-content>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.icono-content>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.icono-content>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.icono-content>*:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
}


.gmail {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
}

.phone {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
}

.github {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
}

.linkedin {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 4;
    grid-column: 4;
}
*/


.gmail-img,
.phone-img,
.github-img,
.linkedin-img {
    width: 100px;
    height: auto;
    padding: var(--space-sm);
    margin: auto;
}

.icono-content img:hover {
    cursor: pointer;
    /* Cambia il cursore a una mano*/
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext,
.tooltiptext-gmail,
.tooltiptext-github,
.tooltiptext-linkedin {
    font-family: "Nunito", sans-serif;

    visibility: hidden;
    width: 200px;
    background-color: var(--fondo);
    color: var(--color_beige_chiaro);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    bottom: 105%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltiptext-gmail {
    margin-left: -80px;

}

.tooltiptext-github {
    text-justify: auto;
}

.tooltiptext-linkedin {
    text-justify: auto;
}


.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptext-gmail,
.tooltip:hover .tooltiptext-github,
.tooltip:hover .tooltiptext-linkedin {
    visibility: visible;
    opacity: 1;
    font-family: "Nunito", sans-serif;
    font-size: var(--font-size-12p);
}