@import url(./var_root.css);
@import url(./style_carousel.css);
@import url(./style_box.css);
@import url(./contacto.css);
@import url(./reset_tipog.css);


/* animacion inizial */

/* Estilo general */
body {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Título animado */
#titulo {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

/* Animación del cursor (parpadeo) */
@-webkit-keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#titulo {
    -webkit-animation: blink 2s step-end infinite;
    animation: blink 2s step-end infinite;
}


/* botones */
.download-cv {
    margin: var(--space-ml);
}

.download-cv a {
    color: var(--fondo);
    text-decoration: none;
}

.download-cv a:hover {
    color: var(--color_beige_chiaro);
}

/* boton proyecto */

.game-image button,
.fella button {
    margin-top: var(--space-m);
}



/* conctent principales */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.portada,
.proyectos,
.skills,
.contacto {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: var(--space-sm) var(--space-m) var(--space-sm) var(--space-m);
}

.portada {
    width: 100%;
    height: 92vh;
    /*box-sizing: border-box;*/
    overflow: hidden;
}

.portada::before,
.proyectos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: var(--fondo);
    z-index: -10;
}
.portada h4{
    margin-bottom: 20px;
}

.skills,
.contacto {
    background-color: var(--color_beige_chiaro);
    width: 100%;
    height: 100%;

    color: var(--fondo);
}

.skills-p {
    list-style-type: none;
}


/* ---- Proyectos ---- */


/* */
.proyectos {
    position: relative;
    display: -ms-grid;
    display: grid;
    text-align: center;
    padding: var(--space-m);
    overflow: hidden;
}
.proyectos h2{
    color: var(--color_beige_chiaro);
}
.grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.grid-proyectos {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-proyectos>div {
    min-width: 80%;
    text-align: center;
}


.porfolio p {
    margin-top: var(--space-m);
    color: var(--color_beige_chiaro);
}


.porfolio,
.game-image,
.fella {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.game-image img,
.fella img,
.porfolio img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    gap: var(--space-m);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    margin-bottom: 10px;
}

.game-image img:hover,
.fella img:hover,
.porfolio img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}




/* ---- footer ---- */

footer {
    text-align: left;
    -ms-flex-line-pack: left;
    align-content: left;
}

.a-berto {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

}


/* --------- MEDIA QUERY --------- */

@media screen and (orientation: landscape){
    .portada{
        height: 100%;
    }
}

@media screen and (max-width: 799px) {

    .grid-proyectos {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;        
    }

    h4{
        font-size:1em;
    }
    h1{
        font-size:1,25em;
    }
    
}


@media screen and (min-width: 800px) {
    
    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr);
    }

    .portada-h {
        margin: auto;
    }

    h1,
    .titulo {
        font-size: var(--font-size-36p);
    }


    h2 {
        font-size: var(--font-size-32p);
    }


    h4 {
        font-size: var(--font-size-24p);
        padding: auto;
    }



    p,
    button,
    .skills-p {
        font-size: var(--font-size-18p);
    }

    .porfolio img {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        grid-column: 1;
    }

    .game-image img {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 2;
    }

    .fella img {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 3;
        grid-column: 3;
    }

}
        

@media screen and (min-width: 1024px) {

    h1,
    .titulo {
        font-size: var(--font-size-48p);
    }


    h2 {
        font-size: var(--font-size-36p);
    }


    h4 {
        font-size: var(--font-size-32p);
        padding: auto;
    }

    p,
    button {
        font-size: var(--font-size-20p);
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .grid-proyectos {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    }

    .game-image img, .fella img, .porfolio img {
        max-width: 400px; 
    }

}
