/* IMPORT FONT */

/* VARIABLES */

:root {
    /* Colores */
    --color_black: rgba(2, 0, 1, 1);
    --color_black_chiaro: rgba(32, 32, 32, 1);

    --color_gray: rgba(77, 77, 77, 1);
    --color_gray_scuro: rgba(55, 55, 57, 1);

    --color_white: rgba(254, 254, 254, 1);
    --color_white_scuro: rgba(247, 247, 247, 1);
    --color_white___scuro: #f7f7f7;

    --color_beige_chiaro: #fefae0;
    --color_beige: #faedcd;

    --color_azul1: #a6c3ff;
    --color_azul2: #6b97ef;
    --color_azul3: #5c8fff;
    --color_azul4: #3c77f6;
    --color_azul5: #155cf4;
    --color_azul6: #0a4bd6;
    --fondo: rgb(21, 96, 130);

    --color_whatsapp: rgba(37, 211, 102, 1);

    /* Tamaño */
    /* variables de espacio */

    --calculo: calc(10vw+40px);

    --space-xxs: 2px;
    --space-xs: 5px;
    --space-s: 10px;
    --space-sm: 16px;
    --space-m: 20px;
    --space-ml: 30px;
    --space-l: 42px;
    --space-mxl: 60px;
    --space-xl: 80px;
    --space-xxl: 140px;

    /* var altura variable width - height */
    --w25: 25vw;
    --w50: 50vw;
    --w75: 75vw;
    --w100: 100%;

    --h25: 25vh;
    --h50: 50vh;
    --h75: 75vh;
    --h100: 100vh;


    /* Tamaños de contenedor */
    --container-mobileXS: 640px;
    --container-mobile: 768px;
    --container-tablet: 1024px;
    --container-desktop: 1280px;

    /* variables de tamaño */
    --font-xxs: 4px;
    --font-xs: 10px;
    --font-s: 16px;
    --font-sm: 20px;
    --font-m: 24px;
    --font-ml: 36px;
    --font-l: 48px;
    --font-xl: 60px;
    --font-mxl: 80px;
    --font-xxl: 140px;

    /* Tamaños de raiz */

    --font-size-4p: 0.625rem;
    /* 4px*/
    --font-size-10p: 0.25rem;
    /* 10px */
    --font-size-12p: 0.75rem;
    /* 12px */
    --font-size-14p: 0.875rem;
    /* 14px */
    --font-size-16p: 1rem;
    /* 16px */
    --font-size-18p: 1.125rem;
    /* 18px */
    --font-size-20p: 1.25rem;
    /* 20px */
    --font-size-24p: 1.5rem;
    /* 24px */
    --font-size-29p: 1.830rem;
    /* 29px*/
    --font-size-32p: 2rem;
    /* 32px */
    --font-size-36p: 2.25rem;
    /* 36px */
    --font-size-48p: 3rem;
    /* 48px */
    --font-size-60p: 5rem;
    /* 60px*/
    --font-size-80p: 3.75rem;
    /* 80px */
    --font-size-140p: 8.75rem;
    /* 140px */




    /* Grid o Griglia */
    /* gri globales */
    --grid-columns: 12;
    --grid-gap: 20px;
    --grid-max-width: 100%;

    /* grid de pantalla */
    --columns-desktop: 12;
    --columns-tablet: 8;
    --columns-mobile: 4;

    --gap-desktop: 20px;
    --gap-tablet: 15px;
    --gap-mobile: 10px;

    /* Font */
}

/* grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gap);
    max-width: 100%;
    margin: 0 auto;
}